body {
  background-color: rgb(255, 255, 255);
}

.container {
  width: 98%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

.upnav{
  /* set up nav style */
  background-color:rgba(255, 241, 241, 0.745);
  box-shadow: 2px 2px #eb5a56;
  border-radius: 15px;
  /* set up the display of return button and playlist */
  display:flex;
  align-items: center;
  justify-content: space-between;

  padding: 2px 5px;
  padding-top: 8px;
}


.kanban-board,
#addedblock {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  margin: 25px;
  gap: 15px 10px;

}


.kanban-block,
.create-new-task-block {

  padding: 0.6rem;
  width: 30%;
  min-width: 20rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
}

/* set up style for each kanban block */

#todo {
  /* set up background color */
  /* background color pick: https://cssgradient.io/ */
  background: rgb(251, 222, 230);
  background: linear-gradient(120deg, rgba(251, 222, 230, 1) 0%, rgba(250, 130, 85, 1) 91%, rgba(241, 255, 121, 1) 100%);
  /* set up border style */
  border: 2px solid #eb5a56;
  box-shadow: 2px 2px #eb5a56;

}

#inprogress {
  background: rgb(255,246,213);
background: linear-gradient(120deg, rgba(255,246,213,1) 0%, rgba(208,237,26,1) 91%, rgb(223, 255, 176) 100%);
  border: 2px solid #ebeb56;
  box-shadow: 2px 2px #ebeb56;
  /* display: none; */
}

#done {
  background: rgb(210,255,210);
background: linear-gradient(120deg, rgba(210,255,210,1) 0%, rgba(95,222,43,1) 91%, rgb(80, 226, 22) 100%);
  border: 2px solid #67eb56;
  box-shadow: 2px 2px #67eb56;
  /* background-color: #67eb56; */
  /* display: none; */
}

#newname {
  background: rgb(221,251,245);
background: linear-gradient(120deg, rgba(221,251,245,1) 0%, rgba(26,187,237,1) 60%, rgba(15,126,232,1) 100%);
  border: 2px solid #56dceb;
  box-shadow: 2px 2px #56dceb;
  /* display: none; */
}


.kanban-block-header {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.delete-block {
  background-color: #e7e7e7;
  border: 2px solid #d1d1d1;
  justify-self: end;
}

.delete-block:hover {
  background-color: #d1d1d1;
  box-shadow: 5px 5px 5px rgba(180, 180, 180, 0.24), 0 17px 50px 0 rgba(173, 173, 173, 0.19);

}



.task {
  background-color: white;
  /* Set the top margin as 25px, right margin as 50px, bottom margin as 75px, left margin as 100px */
  margin: 0.8rem 0.2rem 1.2rem 0.2rem;

  border-radius: 0.2rem;
  /* Set the content in each task block's top and bottom paddings as 0.2rem, right and left paddings as 1rem */
  padding: 0.2rem 1rem;
  font-family: 'Montserrat', sans-serif;

  /* Using grid to display information of each task block including task-name,time-to-complete due-date"
      rating-circle and priority-rating */
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  gap: 0px 5px;
  grid-template-areas:
    "task-header task-header"
    "time-to-complete due-date"
    "rating-circle priority-rating";

  align-items: center;
  color: #707070;

  border: 2px solid white;
  /* add inner showdow to each task block */
  -moz-box-shadow: inset 0 0 6px #a3a3a3;
  -webkit-box-shadow: inset 0 0 6px #b5b5b5;
  box-shadow: inset 0 0 6px #b6b6b6;

}

.task-hearder {
  grid-area: task-header;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.delete-task {
  margin: 8px 0px;

  padding: 0.1rem 0.2rem;
  width: 2rem;
  height: 2rem;
}

.time-to-complete {
  grid-area: time-to-complete;
  font-size: 7px;
}

.due-date {
  grid-area: due-date;
  font-size: 7px;
}

.rating-circle {
  grid-area: rating-circle;
}

.priority-rating {
  grid-area: priority-rating;
  font-size: 10px;
  font-weight: bold;
  color: #f44336;
}

.rating-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px grey;
  background-color: #f44336;
}


/* Set the css style for create new task button in the to-do kanban block */

#task-button {
  font-family: 'Montserrat', sans-serif;
  margin: 0.8rem 0rem 0.1rem 0rem;
  background-color: white;
  width: 100%;
  border: 0.1rem solid #f44336;
  padding: 0.5rem 2.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: #f44336;
  box-shadow: 5px 5px #b92722;

}

#task-button:hover {
  background-color: #f44336;
  color: white;
  box-shadow: 2px 2px #b92722;
}


/* Set the css style for create new kanban block button below the three exsiting kanban block  */
#new {
  display: flex;
  justify-content: center;
  gap:10px;
}

#add-block {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 12px;
  background-color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  font-size: 12px;
  color: #707070;
  font-weight: bold;
  box-shadow: 5px 5px #707070;

  display: flex;
  gap:3px;
  justify-content: center;

}
#add-block img{
 width:17px;

}

#add-block:hover {
  box-shadow: 2px 2px #707070;
 background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(207, 207, 207) 100%);
  color: rgb(255, 73, 73);

}

/* Set the css style for create new task section */
.create-new-task-block {
  display: none;
  /* display: flex; */
  background: #f44336;
  width: 64.4%;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
}

.form-row-label {
  width: 15%;
  padding: 0.2rem;
  padding-right: 0.5rem;
  border: 0.1rem solid black;
  border-right: 0;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
}

.form-row-input {
  border: 0.1rem solid black;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  width: 85%;
}

textarea {
  resize: none;
}

.form-row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2rem;
}

#edit-button,
#save-button,
#cancel-button {
  margin: 0.2rem 0rem 0.1rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 49.2%;
  border: 0.25rem solid black;
  padding: 0.5rem 2.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

#edit-button {
  display: none;
}

/* Adjust input in kanban-block-title for each kanban block */
.kanban-block input[type=text] {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  width: 130px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 10px 12px 10px;
  transition: width 0.4s ease-in-out;

  background-image: url(../icon/editicon3.png);
  background-size: 20px 20px;
  background-position: 100px 12px;
  background-repeat: no-repeat;

  box-shadow: 2px 2px 2px #707070;


}

input[type=text]:focus {
  width: 100%;
}

#todo input {
  background-color: #eb5a56;
  border: 2px solid #eb5a56;
  color: #b92722;

}

#inprogress input {
  background-color: #e1e123;
  border: 2px solid #e1e123;
  color: #98980b;


}

#done input {
  background-color: #67eb56;
  border: 2px solid #67eb56;
  color: #35a926;

}

#newname input {
  background-color: #56dceb;
  border: 2px solid #56dceb;
  color: #1b94a1;

}