*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(105, 105, 105, 0.84);
  background: rgb(208, 207, 199);
}
 /*    set up the whole structure*/
.container {  
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidnav_container upnav_container"
    "sidnav_container main_container";
}

.upnav_container { grid-area: upnav_container; }

.sidnav_container { grid-area: sidnav_container; }

.main_container { grid-area: main_container; }
 /*    set up the whole structure*/

  /*   sidenav section*/
.sidenav_container {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.745) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
}

.nav {
  width: 110px;
  /*    width: 280px;*/
  margin-left: 10px;
  height: 100%;
   /*    set up background color*/
  /* background: rgb(242, 192, 255);
background: -moz-linear-gradient(30deg, rgb(242, 192, 255) 30%, rgb(151, 140, 250) 70%);
background: -webkit-linear-gradient(30deg, rgb(242, 192, 255) 30%, rgb(151, 140, 250) 70%);
background: -o-linear-gradient(30deg, rgb(242, 192, 255) 30%, rgb(151, 140, 250) 70%);
background: -ms-linear-gradient(30deg, rgb(242, 192, 255) 30%, rgb(151, 140, 250) 70%);
background: linear-gradient(120deg, rgb(242, 192, 255) 30%, rgb(151, 140, 250) 70%); */
   /*    set up background color*/
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
}

.nav:hover {
  width: 260px;
}


.icon {
  width: 250px;
  height: 60px;
  margin-left: 25px;
  margin-top: 20px;
  display: flex;
}

.icon-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.icon-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.icon-con {
  height: 60px;
  margin-left: 25px;
}

.icon-con p {
  padding-top: 5px;
}

.icon-con h2 {
  font-weight: 400;
}

.line {
  width: 60px;
  height: 1px;
  background: rgba(130, 130, 130, 0.5);
  margin: 20px 25px;
  transition: 0.5s;
}

.nav:hover .line {
  width: 220px;
}

.title {
  width: 60px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.title p {
  font-size: 14px;
}

.menu {
  width: 230px;
  margin-left: 25px;
}

.item {
  display: flex;
  position: relative;
  transition: 0.5s;
  border-radius: 6px;
}

.item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.licon {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con {
  width: 0px;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
  opacity: 0;
}

.nav:hover .con {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.ricon {
  width: 0px;
  height: 50px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
}

.nav:hover .ricon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.iconfont {
  font-size: 26px;
}

.ricon .iconfont {
  font-size: 20px;
  color: #62cb44;
}

.light {
  width: 6px;
  height: 50px;
  background: #eb5a56;
  position: absolute;
  left: -25px;
  transition: 0.5s;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
}

.item:hover .light {
  opacity: 1;
}

.serve {
  width: 60px;
  /*    background: rgba(98, 203, 68, 0.5);*/
  background: rgba(0, 0, 0, 0.7);
  margin-left: 25px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.nav:hover .serve {
  width: 230px;
}


/*   sidenav section*/


.upnav_container{
  display: flex;
  justify-content: right;
  align-items: center;}

.music_container{
  width: 430px;
  height: 80px;
}

.player{
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}
/* 歌曲信息轨道区域 */
.player-track{
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;
  padding: 13px 22px 10px 184px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 15px 15px 0 0;
  /* 改变top时的过渡效果 */
  transition: top 0.3s ease;
}
/* 歌曲信息轨道区域活动态 */
.player-track.active{
  /* 上移 */
  top: -95px;
}
.album-name{
  color: #333;
  font-size: 17px;
  font-weight: bold;
}
.track-name{
  color: #888;
  font-size: 13px;
  margin: 3px 0 12px 0;
}
.track-time{
  height: 12px;
  line-height: 12px;
  margin-bottom: 4px;
  overflow: hidden;
}
.current-time,
.total-time{
  color: #ff668f;
  font-size: 11px;
  transition: 0.3s ease;
}
.current-time{
  float: left;
}
.total-time{
  float: right;
}
/* 播放进度区域 */
.progress-box{
  position: relative;
  height: 4px;
  background-color: #ead2d7;
  border-radius: 4px;
  cursor: pointer;
}
/* 悬停进度条显示时间 */
.hover-time{
  position: absolute;
  top: -30px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 12px;
  padding: 5px 6px;
  border-radius: 4px;
  display: none;
}
/* 悬停进度条颜色 */
.hover-bar{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.12);
  border-radius: 4px;
  z-index: 2;
}
/* 已播放的进度条颜色 */
.progress-bar{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fd6d94;
  border-radius: 4px;
  z-index: 1;
  width: 0;
  /* 改变width时的过渡效果 */
  transition: width 0.2s ease;
}
.player-content{
  position: relative;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  z-index: 2;
  box-shadow: 0 30px 80px #656565;
}
/* 封面 */
.album-cover{
  width: 115px;
  height: 115px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 40px;
  box-shadow: 0 0 0 10px #fff;
  overflow: hidden;
  transition: 0.3s ease;
}
/* 唱片中间的小圆点 */
.album-cover::before{
  content: "";
  width: 20px;
  height: 20px;
  background-color: #d6dee6;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  margin: -10px auto auto auto;
  box-shadow: inset 0 0 0 2px #fff;
  z-index: 1;
}
/* 封面活动态 */
.album-cover.active{
  top: -60px;
  box-shadow: 0 0 0 4px #fff7f7,
  0 30px 50px -15px #afb7c1;
}
.album-cover img{
  display: block;
  width: 100%;
  height: 0%;
  object-fit: cover;
  opacity: 0;
}
.album-cover img.active{
  height: 100%;
  opacity: 1;
}
/* 播放时封面旋转 */
.album-cover.active img.active{
  /* 执行动画：动画名 时长 线性的 无限次播放 */
  animation: rotateAlbumCover 3s linear infinite;
}
/* 控制区 */
.play-controls{
  width: 255px;
  height: 100%;
  float: right;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-right: 2px;
}
.control{
  flex: 1;
}
.control .button{
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}
.control .button i{
  color: #d6dee6;
  font-size: 30px;
  transition: 0.2s ease;
}
.control .button:hover{
  background-color: #d6d6de;
}
.control .button:hover i{
  color: #fff;
}

/* 定义动画 */
@keyframes rotateAlbumCover {
  0%{
      transform: rotateZ(0);
  }
  100%{
      transform: rotateZ(360deg);
  }
}